@layer reset, elements, components, utilities;

@layer reset {
  :root {
    font-family: system-ui;
    font-feature-settings: "ss06";
  }

  *, ::before, ::after {
    box-sizing: border-box;
  } 
}
